/* ======================================================================== */
/* ======================= Skeleton 样式覆盖 =============================== */
/* ======================================================================== */

.el-skeleton {
  --el-skeleton-to-color: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] .el-skeleton {
  --el-skeleton-to-color: var(--iflyv-gray-2);
}

.el-skeleton__item {
  border-radius: var(--iflyv-radius-min);
  height: 1.25rem;
}
.el-skeleton__paragraph { height: 1rem; }

.el-skeleton__paragraph {
  margin-top: 12px;
}
